@model WebApplication10.Models.Entity.Tablo_YAZAR

@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Ad</label>
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.AD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyad</label>
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.SOYAD)
    </div> <div style="margin-top:15px">
        <label>Yazar Detay</label>
        @Html.TextAreaFor(x => x.DETAY, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.DETAY)
        <div style="margin-top:1px">
            <button class="btn btn-outline-success">Yazar Ekle</button>
        </div>
    </div>
</form>
